body{
margin: 0;
font-family: 'Poppins', sans-serif;

}
.top-text{
    color:tomato;
}
.flexible-container{
    display:flex;
    margin-bottom: 100px;
}
.top-banner h1{
    font-size:50px;
    font-weight: 700;
}

.link-button{
    background-image:linear-gradient(orange,tomato);
    text-decoration: none;
    color:white;
    padding: 8px 15px;
    border-radius:20px;
}

.top-banner{
    padding:20px;
    background-color: aliceblue;
}

.half-width{
    width:50%;
}
.half-width img{
    width:80%;
}

.about-me{
    background-image:url("images/shapes/7.png");
    background-repeat: no-repeat;
    
}
.about-me h1{
    font-weight: 700;
}
.about-me img{
    width:50%;
    padding-top: 10px;
    padding-left:80px;

}
.about-me-p{
    align-content: center;
    padding-left:10px;
    padding-right:25px;
    padding-bottom: 30px;
}

.my-recipi{
    text-align: center;
    padding:50px;
}

.recipi{
    padding-left: 10px;
    padding-right:10px;
}

#recipi-box{
    padding-left: 20px;
    border-radius: 10px;
    box-shadow: 1px 1px 5px gray;
}

.recipi-item{
    width:40%;
    margin-left: 3%;
    margin-right: 3%;
    padding:10px;
}

.recipi-item img{
    width:100%;
    border-radius: 10px;
}